<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Results</title>
    <link rel="stylesheet" href="/StyleSheet.css">
</head>
<body>
<div class="navbar">
    <a href="/Student_dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</div>

<div class="content">
    <h1>Exam Results</h1>
</div>

<div class="results-container">
    <table>
        <thead>
        <tr>
            <th>SubmissionID</th>
            <th>Score</th>
            <th>Details</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="exam : ${ExamResult}" th:if="${exam.getGrade()!=0}">
            <td th:text="${exam.getSubmissionID()}"></td>
            <td th:text="${exam.getGrade()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>